@import "../../styles/constants";

#main-wrapper {
  width: 100%;
  min-height: 70vh;
  background-color: #000;
  @extend %perfect-center;
  align-items: flex-start;
}

#filter {
  width: $contentWidth;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.side-filter {
  width: 386px/1200px * 100%;
  display: flex;
  flex-direction: column;
  &__title-box {
    height: 130px /16px * 1rem;
    width: 100%;
    @extend %perfect-center;
    justify-content: flex-start;

    & > h3 {
      @extend %primaryTextStyle;
      font-size: 28px /16px * 1rem;
      font-weight: bold;
      letter-spacing: normal;
      color: #ffffff;
    }
  }
}
.title-filter {
  width: 794px/1200px * 100%;
  display: flex;
}
