@import "../../styles/constants";

#header-wrapper {
  width: 100%;
  background-color: #fff;
  @extend %perfect-center;
}

.header {
  width: $contentWidth;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 317px / 1200px * 100%;
    height: 53px / 80px * 100%;
    object-fit: contain;
  }

  &__linkBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;

    &--item {
      display: flex;
      @extend %perfect-center;
      margin-right: 40px /1200px * 100%;
      position: relative;
      height: 100%;

      & > img {
        position: absolute;
        bottom: 0;
        align-self: center;
        width: 24px / 16px * 1rem;
      }

      & > a {
        @extend %primaryTextStyle;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.57px;
        color: #000000;

        &:hover {
          color: #76b900;
        }
      }
    }
  }
  &__button {
    width: 185px / 1200px * 100%;
    height: 40px / 80px * 100%;
    @extend %perfect-center;
    background-color: #76b900;
    cursor: pointer;

    &--text {
      @extend %primaryTextStyle;
      font-family: GreycliffCF;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 0.57px;
      color: #ffffff;
    }
  }
}
