@import "../../styles/constants";


#footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.footer {
  margin: auto;
  width: 1200px;
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__left-side {
    width: 40%;
    align-items: center;
    justify-content: center;
    justify-items: flex-start;
    flex-wrap: wrap;
    & > a {
      display: inline-block;
      width: 30%;
      font-family: GreycliffCF;
      font-size: 1rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: #1e1e1e;
      margin: 0.3rem 0.3rem 0.3rem 0;
    }
  }
  &__right-side {
    width: 35%;
    height: 100%;
    @extend %perfect-center;
    justify-content: space-between;
    align-items: flex-start;
    &--social,
    &--language {
      @extend %perfect-center;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between;
      & > select {
        border: none;
        font-family: GreycliffCF;
        font-size: 1rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #1e1e1e;
        align-self: flex-start;
      }

      & > label {
        align-self: flex-start;
        display: inline-block;
        font-family: GreycliffCF;
        font-size: 1rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        color: #1e1e1e;
        margin: 1.2rem 0;
      }
      & > div {
        width: 100%;
        @extend %perfect-center;
        justify-content: space-between;
        & img {
          height: 1rem;
          object-fit: contain;
          margin-right: 1rem;
        }
      }
    }
  }
}

.bottom-footer {
  width: 100%;
  background-color: #1e1e1e;
  align-self: center;

  &__content-area {
    width: 1200px;
    height: 41px;
    margin: auto;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;

    & a {
      display: inline-block;
      font-family: GreycliffCF;
      font-size: 12px/16px * 1 rem;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.83;
      letter-spacing: normal;
      color: #ffffff;
      margin-right: 20px/16px * 1rem;
      cursor: pointer;
    }

    & label {
      display: inline-block;
      font-family: GreycliffCF;
      font-size: 12px/16px * 1 rem;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.83;
      letter-spacing: normal;
      color: #ffffff;
    }
  }
}
